@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#body {
    background-color: #F6F8FC;
}


#header {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    line-height: 58px;
}

#btn {
    border-radius: 10px;
}

#text {
    color: #2563eb;
}

#text-1 {
    font-size: 15px;
}
#text-2 {
    font-size: 18px;
}