body{
    /*background-image: url(images/main-background.jpg);
    background-size: cover; */
    background-color: rgba(245, 234, 213, 0.788);
    margin: 0;
    font-family: 'Sono', sans-serif;
}
a,h2{
    color: rgb(197, 14, 14);
}


header{
    background-color: bisque;
}
nav a{
    text-decoration: none;
    padding: 50px;
}
.header-img{
   border-radius: 20px;
   height: 250;
   width: 300px;
}

